TF_Content: |-
  #!/bin/sh

  terraform init
  terraform apply --auto-approve
TF_Repo:
  key: Voting-App
  title: AshutoshKapoor/Voting-App
  owner: AshutoshKapoor
  default_branch: main
  id: 528294957
TF_Branch: main
TF_Git_path: ballot
TF_Uninstall: |-
  #!/bin/sh

  terraform destroy
lastUpdatedBy: Ashutosh Kapoor
lastUpdatedOn: 2022-09-16T06:11:27.629Z
