CDK_Content: |-
  #!/bin/sh

  cdk deploy

  sve

  dwbjfd

  cdwh v
CDK_Repo:
  id: ''
  key: Voting-App
  title: AshutoshKapoor/Voting-App
  owner: AshutoshKapoor
CDK_Branch: main
CDK_Git_path: ''
CDK_Uninstall: |-
  #!/bin/sh

  cdk destroy
lastUpdatedBy: Ashutosh Kapoor
lastUpdatedOn: 2022-10-04T06:22:15.144Z
