build:
  type: External_Build
  content: $GIT_COMMIT_ID
deploy:
  type: text
  content: ''
test: []
uninstall:
  type: text
  content: ''
app_dependencies:
  type: text
  content: ''
app_deploy:
  type: text
  content: ''
app_test:
  - name: ''
    configType: artillery
    configPath: ''
app_uninstall:
  type: text
  content: ''
lastUpdatedBy: Ashutosh Kapoor
lastUpdatedOn: 2022-10-10T05:05:20.080Z
