build:
  type: External_Build
  content: $GIT_COMMIT_ID
deploy:
  type: text
  content: ''
test: []
uninstall:
  type: text
  content: ''
app_dependencies:
  type: None
  content: ''
app_deploy:
  type: None
  content: ''
app_test: []
app_uninstall:
  type: None
  content: ''
CF_Git_path: .roost/roost.efve.config
lastUpdatedBy: Ashutosh Kapoor
lastUpdatedOn: 2022-10-12T17:37:28.583Z
