build:
  type: External_Build
  content: $GIT_COMMIT_ID
deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

app_dependencies:
  type: text
  content: ''
app_deploy:
  type: text
  content: ''
app_test:
  - name: ''
    configType: artillery
    configPath: ''
app_uninstall:
  type: text
  content: ''
lastUpdatedBy: Ashutosh Kapoor
lastUpdatedOn: 2022-10-10T04:54:53.694Z
