build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: netlify
  content:
    - key: REACT_APP_BALLOT_ENDPOINT
      value: https://zbio.roost.io/proxy/MTMuNTIuMTA0Ljg6MzAwNDA=
      proxyPort: false
    - key: REACT_APP_EC_SERVER_ENDPOINT
      value: ''
      proxyPort: true
      port: '45324'
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Ishan Rai
lastUpdatedOn: 2023-01-11T05:35:02.148Z
