CDK_Content: |-
  #!/bin/sh

  cdk deployvefveg
CDK_Repo:
  id: ''
  key: Voting-App
  title: AshutoshKapoor/Voting-App
  owner: AshutoshKapoor
CDK_Branch: main
CDK_Git_path: Bootstrap/css/bootstrap-social
CDK_Uninstall: |-
  #!/bin/sh

  cdk destroy
  nfejne m,cvecnv e
lastUpdatedBy: Ashutosh Kapoor
lastUpdatedOn: 2022-10-04T05:42:43.452Z
