CDK_Content: |-
  #!/bin/sh

  cdk deploy
  cwjhcwi
CDK_Repo:
  key: Voting-App
  title: AshutoshKapoor/Voting-App
  owner: AshutoshKapoor
  default_branch: main
  id: 528294957
CDK_Branch: main
CDK_Git_path: ''
CDK_Uninstall: |-
  #!/bin/sh

  cdk destroy
lastUpdatedBy: Ashutosh Kapoor
lastUpdatedOn: 2022-10-04T06:18:43.109Z
